<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <preference for="Praxigento\Bonus\Loyalty\Lib\Repo\IModule"
                type="Praxigento\Bonus\Loyalty\Lib\Repo\Def\Module"/>

    <!-- Services -->
    <preference for="Praxigento\Bonus\Loyalty\Lib\Service\ICalc"
                type="Praxigento\Bonus\Loyalty\Lib\Service\Calc\Call"/>

</config>